nav .nav-wrapper {
    height: 64px !important;
    min-height: 64px !important;
    line-height: 64px !important;
  }
  
  nav .brand-logo img {
    max-height: 55px !important; 
    height: auto !important; 
    vertical-align: middle !important;
  }

  .font1{
    font-family: 'Montserrat', sans-serif;
  }

  .bold-text{
    font-weight: bold;
  }

  .hover-scale{
    transition: transform 0.3s ease;
  }

  .hover-scale:hover{
    transform: scale(1.1);
  }

  .image-container {
    position: relative; 
    display: inline-block; 
  }

  .image-container img {
    display: block; 
    width: 100%; 
  }

  .image-container .overlay-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px; 
    font-weight: bold; 
  }
  
/*
  nav .nav-wrapper {
    height: 64px !important;
    min-height: 64px !important;
    line-height: 64px !important;
  }
  
  nav .brand-logo img {
    max-height: 55px !important; 
    height: auto !important; 
    vertical-align: middle !important;
  }
  

  nav .nav-wrapper ul li a {
    line-height: 64px !important; 
  }

  nav .sidenav-trigger {
    height: 64px !important;
    line-height: 64px !important; 
  }
  
  .sidenav {
    margin-top: 64px !important;
  }
    */