/* Fixed nav size on smaller screen */
nav .nav-wrapper {
  height: 64px !important;
  min-height: 64px !important;
  line-height: 64px !important;
}

nav .brand-logo img {
  max-height: 55px !important;
  height: auto !important;
  vertical-align: middle !important;
}

/* Font */
.font1 {
  font-family: 'Montserrat', sans-serif;
}

.bold-text {
  font-weight: bold;
}

p h1 h2 h3 h4 h5 h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Hover Effect */
.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.1);
}

/* Overlay Text */
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
}

.image-container .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

/* Gradient */
.gradient {
  background: linear-gradient(180deg, rgba(225, 247, 213, 0.925),rgba(177, 240, 141, 0.979), rgba(129, 243, 62, 0.979));
}

.animated-gradient {
  background: linear-gradient(90deg, rgba(238, 211, 154, 0.973), rgba(241, 181, 13, 0.945), rgba(241, 150, 13, 0.945));
  background-size: 300% 300%;
  animation: gradientShift 3s infinite; 
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Border*/
.border {
  border: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.border-left {
  border-left: 1px solid black;
}

.border-right {
  border-right: 1px solid black;
}

/* Button Size*/
.btn-size{
  width: 150px;
  text-align: center;
}
